.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  overflow: visible;

  .dock-outer {
    height: 100%;
    pointer-events: auto;
    overflow: visible;
  }
}

